<a href="https://colab.research.google.com/github/JUPITXXR/exercicios-de-FUP/blob/main/09_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## O comando for

O comando for é um tipo de estrutura de repetição em Python.

Ele é muito útil para percorrer os elementos de uma lista ou de uma string.

Uma lista pode ser definida em Python como sendo uma lista de valores separados por vírgula entre colchetes. Nós estudaremos listas mais a fundo posteriormente.

```python
lista1 = [1, 2, 3, 4, 5]
```

A lista acima possui 5 elementos. A ordem é importante, ou seja, o primeiro elemento da lista é 1, o segundo é 2, etc.

Uma outra utilidade do comando for é quando precisamos repetir um trecho de código um número pré-definido de vezes.

Normalmente, escrevemos o comando for da seguinte maneira:

```python
for variavel in minha_string_ou_lista :
  # faça alguma coisa com variavel
```  
A variável que aparece logo após a palavra `for` vai receber o valor de cada elemento da minha_string_ou_lista por vez.

Por exemplo, se quisermos mostrar os números de 1 a 5, um em cada linha, faríamos assim:

In [ ]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

Se quiséssemos mostrar os números de trás pra frente, faríamos assim:

In [ ]:
for i in [5, 4, 3, 2, 1]:
    print(i)

5
4
3
2
1

E se quiséssemos mostrar os números de 1 a 100? Não seria muito prático ter que criar uma lista de 100 números manualmente. Para isso usamos o comando for em conjunto com a função range.

### A função range
Usa-se a função range para criar uma lista de inteiros começão de **inicio**, até **fim** (mas não inclui **fim**) de **passo** em **passo**:

```python
range(inicio=0, fim, passo=1)
```

Onde:
1. **inicio** e **passo** são opcionais.
2. quando **inicio** é omitido, assume-se o valor ``0``
3. qando **passo** é omitido, assume-se o valor ``1``
4. os números gerados são menores que **fim**, para lista crescente
5. os números gerados são mmaiores que **fim**, para lista decrescente

Vejamos alguns exemplos:

In [ ]:
# só o fim foi passado para range (inicio=0)
print(list(range(5)))

[0, 1, 2, 3, 4]

> **Observação: Nós usamos a função `list()` apenas para mostrar a lista na tela. O resultado da função range já se comporta como uma lista.**

In [ ]:
# inicio e fim foram passados
print(list(range(1,5)))

[1, 2, 3, 4]

In [ ]:
# lista de 1 a 9, de 2 em 2
print(list(range(1, 10, 2)))

[1, 3, 5, 7, 9]

In [ ]:
# lista de 10 a 2, de 2 em 2
print(list(range(10, 1, -2)))

[10, 8, 6, 4, 2]

### O comando for com a função range

Pronto agora podemos mostrar os números de 1 a 100 usando a função range:

In [ ]:
for i in range(1, 101):
    print(i)

## strings como listas

Um fato interessante sobre strings é que elas se comportam como se fossem listas de caracteres. Assim podemos percorrer todos os caracteres de uma string usando o for:

In [ ]:
frase = "O comando for"
for letra in frase:
    print(letra)

O

c
o
m
a
n
d
o

f
o
r

Note que todos os caracteres são mostrados, inclusive os espaços em branco.

### Exercícios

Na célula abaixo, usando o comando `for`, escreva um programa que percorre os números de 1 a 100, mas só mostre os múltiplos de 5.

In [ ]:
for i in range(1, 101):
  if i % 5 == 0:
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

Na célula abaixo, crie um laço com o comando `for` que mostra o quadrado dos números de 1 a 10, cada qual na sua linha.

In [ ]:
for i in range(1, 11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

Na célula abaixo, use um for para percorrer os elementos da string em `frase`, mas só mostre a letra o (maiúscula ou minúscula).

In [ ]:
frase = "O comando for"
for letra in frase:
  if letra == 'O':
    print(letra)
  elif letra == 'o':
    print(letra)

O
o
o
o

Ao terminar, você já pode ir para o próximo notebook: [Exercícios sobre o comando for](10-for-exercicios-parte1.ipynb).